
div.container {
    width: 900px;
    border: 3px solid #d64933;
    margin: 40px auto 60px;
    background: #eee5e9;
}


h1 {
  font: 32px Tahoma, sans-serif;
  color: #000000;
  font-style: bold;

}

h3 {
    font: 18px Tahoma, sans-serif;
    font-style: bold;
   
}

p {
    font: 13px Tahoma, sans-serif;
}

ul {
    font: 13px Tahoma, sans-serif;
    
}

ol {
 color: #000000;
  
}

body {
    background: #7c7c7c
        
}

header {
    font: Tahoma, sans-serif;
    font-color: #FFFFFF;
    background: #7c7c7c;
    margin-left: 100px;
    margin-right: 200px;
    text-align: right;
    border-bottom: 0px solid #848484;
    padding: 1em;
    overflow: hidden;
 
}


article {
    margin-left: 0px;
    margin-right: 170px;
    border-left: 0px solid #848484;
    padding: 2em;
    overflow: hidden;
   
} 
 
