
div.container {
    width: 900px;
    border: 1px solid #848484;
    margin: 40px auto 60px;
    background: 
}

h1 {
  color: #000000;
  font-style: bold;

}

h3 {
    font: "Tahoma", sans-serif;
   
}

header {
    font: "Tahoma", sans-serif;
    
}


ol {
 color: #000000;
  
}


header {
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 2px solid #848484;
    padding: 2em;
    overflow: hidden;
 
}


article {
    margin-left: 0px;
    margin-right: 170px;
    border-left: 0px solid #848484;
    padding: 2em;
    overflow: hidden;
}
 
